<fa-title [title]="'Categories'" [mode]="mode"></fa-title>

<div class="fa-categories__container" [formGroup]="formGroup">
    <mat-spinner *ngIf="loading" [ngClass]="'fa-loader'" [diameter]="60"></mat-spinner>
    <ng-container *ngIf="!loading">
        <div *ngIf="formArray.value.length" class="fa-categories__form" formArrayName="items">
            <div *ngFor="let control of formArray.controls; let i = index" class="fa-categories__form-row">
                <div [formGroupName]="i" class="fa-categories__form-line">
                    <mat-form-field class="fa-categories__form-item" appearance="outline" floatLabel="always">
                        <mat-label>Title</mat-label>
                        <input type="text" matInput [formControlName]="'title'" placeholder="Title" />
                        <mat-error *ngIf="control.controls.title.hasError('required')">
                            Title is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="control.controls.title.hasError('notUnique')">
                            Title is <strong>not unique</strong>
                        </mat-error>
                    </mat-form-field>
                    <button mat-icon-button color="primary" aria-label="Calendar" class="fa-categories__remove">
                        <mat-icon [ngClass]="'fa-action-panel__icon'" (click)="removeCategory(control)"
                            >delete</mat-icon
                        >
                    </button>
                </div>
            </div>
        </div>
        <div class="fa-categories__form-controls">
            <button
                mat-flat-button
                color="primary"
                class="fa-categories__form-button"
                [disabled]="formGroup.invalid"
                (click)="addControl()"
            >
                Add Control
            </button>
            <button
                mat-flat-button
                color="primary"
                class="fa-categories__form-button"
                [disabled]="formGroup.invalid"
                (click)="save()"
            >
                Save
            </button>
        </div>
    </ng-container>
</div>
<fa-action-panel [mode]="mode" (actionClick)="doAction($event)"></fa-action-panel>
