<div class="fa-action-panel__container">
    <ng-container [ngSwitch]="mode">
        <ng-container *ngSwitchCase="viewMode.CALENDAR">
            <button class="fa-action-panel__edit" mat-icon-button color="primary" aria-label="Category">
                <mat-icon [ngClass]="'fa-action-panel__icon'" (click)="actionClick.emit(actions.CATEGORY)"
                    >category</mat-icon
                >
            </button>
        </ng-container>
        <ng-container *ngSwitchCase="viewMode.EDIT_COST">
            <button mat-icon-button color="primary" aria-label="Calendar">
                <mat-icon [ngClass]="'fa-action-panel__icon'" (click)="actionClick.emit(actions.CALENDAR)"
                    >calendar_today</mat-icon
                >
            </button>
        </ng-container>
        <ng-container *ngSwitchCase="viewMode.NEW_DAY">
            <button mat-icon-button color="primary" aria-label="Calendar">
                <mat-icon [ngClass]="'fa-action-panel__icon'" (click)="actionClick.emit(actions.CALENDAR)"
                    >calendar_today</mat-icon
                >
            </button>
        </ng-container>
        <ng-container *ngSwitchCase="viewMode.CATEGORIES">
            <button mat-icon-button color="primary" aria-label="Calendar">
                <mat-icon [ngClass]="'fa-action-panel__icon'" (click)="actionClick.emit(actions.CALENDAR)"
                    >calendar_today</mat-icon
                >
            </button>
        </ng-container>
        <ng-container *ngSwitchCase="viewMode.DAY">
            <button mat-icon-button color="primary" aria-label="Calendar">
                <mat-icon [ngClass]="'fa-action-panel__icon'" (click)="actionClick.emit(actions.CALENDAR)"
                    >calendar_today</mat-icon
                >
            </button>

            <div class="fa-action-panel__edit">
                <button
                    *ngIf="!controlsHidden"
                    mat-icon-button
                    color="primary"
                    aria-label="Edit"
                    class="fa-action-panel__button"
                >
                    <mat-icon [ngClass]="'fa-action-panel__icon'" (click)="actionClick.emit(actions.REMOVE)"
                        >delete</mat-icon
                    >
                </button>
                <button
                    *ngIf="!controlsHidden"
                    mat-icon-button
                    color="primary"
                    aria-label="Edit"
                    class="fa-action-panel__button"
                >
                    <mat-icon [ngClass]="'fa-action-panel__icon'" (click)="actionClick.emit(actions.EDIT)"
                        >edit_note</mat-icon
                    >
                </button>

                <button mat-icon-button color="primary" aria-label="Add info">
                    <mat-icon [ngClass]="'fa-action-panel__icon'" (click)="actionClick.emit(actions.ADD)">add</mat-icon>
                </button>
            </div>
        </ng-container>
    </ng-container>
</div>
